%section{:class => "feature-section", :id => "services"}
  .feature-grid
    .feature-content
      .feature-icon
        %i.fa.fa-users
      %h2.feature-title Hire a remote team
      %p.feature-description
        Hire your very own remote team or as an offshore extension to your existing team.
        Our team has experience delivering well tested code guided by best practices in record time.
        Because we understand that time is the true essence in business.
      %a.btn-primary{:href => "#contact", :style => "margin-top: 2rem; display: inline-block;"} Get Started
    .feature-content
      %img.feature-image{:src => "images/congen/contentin-plan.png", :alt => "Team Collaboration"}/
