%section{:class => "hero-section", :id => "home"}
  %h1.hero-title
    The 
    %span.underline code symphony
    %span  that helps you
    %span.underline build memorable software
    %span .
  %p.hero-description
    We look at software as a symphony of many individual units of decision, we can help you make those decisions
    efficient and informed. 
    Which is why testing is of paramount importance to us, our practices include
    %strong Test driven development
    and 
    %strong Pair programming.
    We generally agree with the principles outlined in
    %a.poodr-link{:href => "http://poodr.com", :target => "_blank"} POODR
    %span .
  .hero-buttons
    %a.btn-primary{:href => "#contact"} Get Started
    %a.btn-secondary{:href => "#services"}
      %i.fa.fa-arrow-down
      Learn More
