.services-section
  .services-container
    %p.services-badge Services
    %h2.services-title Our Services
    %p.services-description We provide high-quality, affordable offshore software development services
  .services-grid
    .service-card
      .service-icon
        %i.fa.fa-users
      %h3.service-title Hire a remote team
      %p.service-description
        Hire your very own remote team or as an offshore extension to your existing team.
        Our team has experience delivering well tested code guided by best practices in record time.
    .service-card
      .service-icon
        %i.fa.fa-flask
      %h3.service-title Tech Stack Expertise
      %p.service-description
        At Codemismatch we understand the strength and weaknesses of our tech stack.
        We use Ruby on Rails, JavaScript, Go, Clojure, and Node.js.
    .service-card
      .service-icon
        %i.fa.fa-clock-o
      %h3.service-title On Time Delivery
      %p.service-description
        We have over five years of experience delivering engineering solutions built around agile 
        and test driven development philosophies.
    .service-card
      .service-icon
        %i.fa.fa-code
      %h3.service-title Quality Code
      %p.service-description
        Backed with our experience we are competent enough to advice and choose the right tool 
        for the job, in order to provide beautifully designed, carefully tested, high quality application software.
