#home.section
  .content
    .sin_wave
      %canvas#waves
    .width100
      %h1.avenir-light.uppercase.first_line code
      %h1.intro.second_line symphony
      %p
        With a focus on delivering high quality innovative solutions, we put great emphasis
        on well tested code. We generally agree to Most of what Sandi Metz has to say in
        = succeed "," do
          %a{:href => "http://poodr.com", :target => "_blank"}
            %strong POODR
        %br/
        %strong Test driven development
        and
        %strong Pair programming.
