#slide1.slide
  .content
    %i.fa.fa-lightbulb-o{"aria-hidden" => "true"}
    %h1.avenir-light Hire a remote team
    %h3.intro Experienced Developers
    %p.first_pre Hire your very own remote team or as an offshore extension to your existing team.
    %p Our team has experience delivering well tested code guided by best practices in record time.
    %p Because we understand that time is the true essence in business.
