#home.section
  .content
    .sin_wave
      %canvas#waves
    .width100
      %h1.avenir-light.uppercase.first_line code
      %h1.intro.second_line symphony
      %p
        We look at software as a symphony of many individual units of decision, we can help you make those decisions
        efficient and informed. 
        Which is why testing is of paramount importance to us, our practices include
        %strong Test driven development
        and 
        %strong Pair programming.
        We generally agree to Most of what Sandi Metz has to say in
        %a{:href => "http://poodr.com", :target => "_blank"}
          %strong POODR
        ,
