#slide3.slide
  .content
    %i.fa.fa-clock-o{"aria-hidden" => "true"}
    %h1.avenir-light On time
    %h3.intro Speed  Elegance
    %p
      We have over five years of experience delivering engineering solutions built around agile and test driven development philosophies.
      Backed with our experience we are competent enough to advice and choose the right tool for the job, in order to provide beautifully 
      designed, carefully tested , high quality application software delivered on time.
