.footer-congen
  .footer-content
    %p Copyright © 2016-2024 Codemismatch. All rights reserved.
    %ul.footer-links
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Services
      %li
        %a{:href => "#"} Contact
    .footer-social
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-linkedin
      %a{:href => "http://medium.com/@codemismatch", :target => "_blank"}
        %i.fa.fa-medium
