%nav.navbar-congen
  .nav-container
    %a.nav-logo{:href => "/"}
      %img{:src => "images/logo.png", :alt => "Codemismatch"}/
    %ul.nav-links
      %li
        %a{:href => "#home"} About
      %li
        %a{:href => "#services"} Services
      %li
        %a{:href => "#tech"} Tech Stack
      %li
        %a{:href => "#reason"} Why Us
      %li
        %a{:href => "#contact"} Contact
    %a.nav-button{:href => "#contact"} Get Started
