%section{:class => "hero-section", :id => "home"}
  .hero-announcement
    .hero-badge New
    .hero-tagline Revolutionize your software development workflow
  %h1.hero-title
    code symphony
  %p.hero-description
    We look at software as a symphony of many individual units of decision, we can help you make those decisions
    efficient and informed. 
    Which is why testing is of paramount importance to us, our practices include
    %strong Test driven development
    and 
    %strong Pair programming.
    We generally agree with the principles outlined in
    %a{:href => "http://poodr.com", :target => "_blank"}
      %strong POODR
    %span .
  %a{:class => "hero-button", :href => "#contact"}
    Get Started - it's free
  .hero-images
    .hero-image
      %img{:src => "images/draftr/hero1.jpg", :alt => "Development", :onerror => "this.src='images/feature1.png'"}/
    .hero-image
      %img{:src => "images/draftr/hero2.jpg", :alt => "Team", :onerror => "this.src='images/feature2.png'"}/
    .hero-image
      %img{:src => "images/draftr/hero3.png", :alt => "Innovation", :onerror => "this.src='images/showcase.png'"}/
