%section.tech-stack-section#tech
  .section-header
    .section-badge Technology
    %h2.section-title Our Tech Stack
    %p.section-description Technologies we use to build amazing software
  .tech-grid
    .tech-item
      %img{:src => "images/rails.png", :alt => "Ruby on Rails"}/
      %h4 Ruby on Rails
    .tech-item
      %img{:src => "images/js1.png", :alt => "JavaScript"}/
      %h4 JavaScript
    .tech-item
      %img{:src => "images/golang.png", :alt => "Go"}/
      %h4 Go
    .tech-item
      %img{:src => "images/clojure.png", :alt => "Clojure"}/
      %h4 Clojure
    .tech-item
      %img{:src => "images/nodejs.png", :alt => "Node.js"}/
      %h4 Node.js
