#reason.section
  .content
    %i.fa.fa-question{"aria-hidden" => "true"}
    %h1.avenir-light Raison d'être
    %h3.intro reason to be
    %p.first_pre Codemismatch is a boutique webshop. We started with the goal to fill the gap in high quality, affordable, offshore software development.
    %p.motto
      %mark Our Motto :  Invent | Ideate | Innovate
