#slide2.slide
  .content
    %i.fa.fa-flask{"aria-hidden" => "true"}
    %h1.avenir-light STACKS
    %h3.intro WE USE
    .row.stack
      .col-md-3.col-sm-4.col-xs-6
        .media
          .media-object.wow.fadeIn{"data-wow-delay" => "0.1s"}
            %img.img-responsive.lang{:alt => "Ruby on rails", :src => "images/rails.png"}/
          .media-body.wow.fadeIn
            %h4.media-heading
              Ruby on rails
      .col-md-3.col-sm-4.col-xs-6
        .media
          .media-object.wow.fadeIn{"data-wow-delay" => "0.3s"}
            %img.img-responsive.lang{:alt => "Javascript", :src => "images/js1.png"}/
          .media-body.wow.fadeIn
            %h4.media-heading Javascript
      .col-md-3.col-sm-4.col-xs-6
        .media
          .media-object.wow.fadeIn{"data-wow-delay" => "0.6s"}
            %img.img-responsive.lang{:alt => "Go", :src => "images/golang.png"}/
          .media-body.wow.fadeIn{"data-wow-delay" => "0.3s"}
            %h4.media-heading
              Go
      .col-md-3.col-sm-4.col-xs-6
        .media
          .media-object.wow.fadeIn{"data-wow-delay" => "0.9s"}
            %img.img-responsive.lang{:alt => "Clojure", :src => "images/clojure.png"}/
          .media-body.wow.fadeIn{"data-wow-delay" => "0.6s"}
            %h4.media-heading
              Clojure
    %div
      %p At Codemismatch we understand the strength and weaknesses of our tech stack.
