.navbar.navbar-fixed-bottom.footer{:role => "navigation"}
  .container-fluid
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar
        %li.copyright Copyright © 2016 Codemismatch
        %li
          %a{:href => "#"}
            %i.fa.fa-facebook{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fa.fa-google-plus{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fa.fa-linkedin{"aria-hidden" => "true"}
        %li
          %a.smoothScroll{:href => "http://medium.com/@codemismatch", :target => "_blank"}
            %i.fa.fa-medium{"aria-hidden" => "true"}
